{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class = "formContainer container-fluid">
    <h1>S'enregistrer</h1>

<!--<label for="userType">Selectionner votre type d'utilisation:</label>
<select name="userType" id="typeUser"  id="userType">
    <option value= "" selected disabled>selectionner un element</option>
     <option value="candidat">Candidat</option>
    <option value="recruteur">Recruteur</option>
    <option value="partenaire">Partenaire</option>
</select>-->
<twig:Register/>
</div>

    
{% endblock %}
