<header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary nav">
		<div class="container">
			<a class="logo navbar-brand" href="#">
				<i class="logo__sac fa-solid fa-briefcase"></i>Job-It
			</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="offcanvas offcanvas-end" id="offcanvasExample" tabindex="-1" aria-labelledby="offcanvasExampleLabel">
			<div class="offcanvas-header">
				<h5 class="offcanvas-title" id="offcanvasExampleLabel">MENU</h5>
				<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
			</div>

			<div class="offcanvas-body">

				<ul class="menu navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="#">Accueil</a>
					</li>
					<li class="nav-item" href="#">
						<a class="nav-link" href="#">Offres</a>
					</li>
                    <li class="nav-item" href="#">
						<a class="nav-link" href="#">Mon compte</a>
					</li>
				</ul>
				<div class = "link">
					<button class="link__moon btn">
						<i class="fa-solid fa-moon"></i>
					</button>
					<button class="link__connect">Connexion</button>
				</div>
			</div>
		</div>
		</div>
		{# <a class="btn" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					<i class="fa-solid fa-bars"></i>
				</a> #}
	</nav>
</header>
