{#% extends 'base.html.twig' %#}



<turbo-frame id= "newEntreprise" data-turbo="false"> 

{% block body %}
    <h1>Ajouter une Entreprise</h1>

    {{ include('entreprise/_form.html.twig') }}

{% endblock %}


<a href="{{ path('app_entreprise_index') }}">Retour à la liste</a>

</turbo-frame> 