.offre{
    width: 100%;
    height: 100%;
    background-color: $colorBGSOmbre;
    &__search{
        background-color: blue;
        width: 100%;
        height: 10%;
    }
    &__result{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 83%;
        &__item{
            width: 400px;
            height: 250px;
            display: flex;
            flex-direction: column;
            background-color: green;

            &__logo{
                width: 100%;
                height: 60%;
                
                & > img{
                    object-fit: cover;
                    width: 100%;
                }
            }
        }
        
    }


}