.offre {
  width: 100%;
  height: 100%;
  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
  .offre__container {
    width: 80%;
    height: 90%;
    background-color: $colorBGSOmbre;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    &__search{
      width: 100%;
      height: 10%;
      & > a{
        & > button{
          @include btn($colorBlue, 180px);
        }
      }
    }
    
    &__result {
      width: 100%;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;

      &__item {
        min-width: 300px;
        width: 30%;
        max-width: 400px;
        height: 260px;
        display: flex;
        align-items: center;
        margin: 20px;
        &__img {
          width: 100%;
          height: 250px;
          border: none;
          display: flex;
            align-items: center;
            justify-content: center;
          & > img{
            object-fit: cover;
            width: 30%;
          }
        }
        &__describ {
          height: 100%;
          padding: 5px;
          width: 100%;
          border: 0px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          &__txt {
            width: 70%;
            height: 90%;
            border: none;
            
            &--intit{
              font-weight: bolder;
            }
            &--datePublic{
              font-size: 12px;
              font-weight: bolder;
            }
            // & > p {
            //   white-space: nowrap;
            //   width: 100%;
            //   overflow: hidden;
            //   text-overflow: ellipsis;
            // }
          }

          &__btn {
            
            & > a {
                
              & > button{
                width: 50px;
                height: 50px;
                border: none;
                background-color: $colorBlue;
                border-radius: 50%;
          
                & > i{
                    color: white;
                    font-size: 25px;
                }
                
              }
            }
          }
        }
      }
    }
  }
}
