$colorWhite: #FFFFFF;
$colorBGClaire: #F3F6FD;
$colorGris: #aeaeae;
$colorBGSOmbre: #262626;
$colorGrissSombre: #292929;
$colorBlue: #053599;
$colorBlueClaire: rgba(5,53,153,0.5);
$colorBlueIcon: rgb(7, 84, 251);
