{% extends 'base.html.twig' %}
{% block title %}compte Utilisateur{% endblock %}

{% block body %}

    <div class = "userCompte">
    <div class = "userCompte__link">
    <a href="{{ path('app_user_compte_info',{'id': app.user.id})}}" class = "userCompte__link__item info"><h2>Mes infos</h2></a>
        {% if is_granted('ROLE_CANDIDAT') %}
        <a href="{{ path('app_user_compte_offrepst',{'id': app.user.id})}}"  class = "userCompte__link__item offreCand"><h2>Mes Offres Candidatées</h2></a>
        {% endif %}
        {% if is_granted('ROLE_RECRUTEUR') %}
        <a href="{{ path('app_user_compte_offrepublie',{'id': app.user.id})}}"  class = "userCompte__link__item offrePub"><h2>Mes Offres Publiées</h2></a>
        {% endif %}
        
        
        
    </div>
            {% block infonuser %}{% endblock %}
    </div>

{% endblock %}
