{% extends 'base.html.twig' %}
{% block title %}compte utilisateur{% endblock %}

{% block body %}
<h1>compte utilisateur</h1>
    <div class = "Container">
    <a href="{{ path('app_user_compte_info')}}">Mes offres</a>
    <a href="{{ path('app_user_compte_offrepst')}}">Mes infos</a>
        {% block infonuser %}{% endblock %}
    </div>

{% endblock %}
