{% extends 'base.html.twig' %}
{% block title %}compte utilisateur{% endblock %}

{% block body %}
<h1>compte utilisateur</h1>
    <div class = "Container">
        {% block infonuser %}{% endblock %}
    </div>

{% endblock %}
